.products_container {
  width: 100%;
  height: 30rem;
  border-radius: 15px;
  background: #fffce5;
  box-shadow: 0px 3px 15px 2px rgba(105, 103, 103, 0.75);
  margin-top: 2.5rem;
  padding: 30px 30px;

  .header {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #000;
    p {
      margin-bottom: 2px;
    }
    .redBorder {
      position: relative;
      top: 3.5px;
      width: 10rem;
      border-bottom: 3px solid red;
      z-index: 2;
    }
  }

  .cards {
    margin-top: 2rem;
    display: flex;
    cursor: pointer;
    .product_card {
      height: 225px;
      object-fit: contain;
      border-radius: 12px;
      margin: 10px;

      img {
        width: 14rem;
        height: 225px;
        border-radius: 12px 12px 0 0;
      }
      .details {
        background-color: #fff;
        border-radius: 0 0 12px 12px;
        transition: all 0.2s ease-in-out;
        padding: 10px;
        &:hover {
          box-shadow: 3px 17px 17px 1px rgba(0, 0, 0, 0.16);
        }
      }

      
    }
  }
}
