@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --primary-color: #fd7e14;
  --primary-font: "Poppins", sans-serif;
  --primary-border-color: #b1b4b8;
  --secondery-border-color: #757b81;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
