.banner_container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.65fr 2fr;
  box-shadow: 0px 13px 13px -12px rgba(0, 0, 0, 0.55);
  .category {
    height: 40rem;
    background-color: #ffe5ca;
    font-family: var(--primary-font);
    .category_header {
      height: 3rem;
      background-color: #ffc890;
      padding: 10px;
      display: flex;
      align-items: center;
      p {
        display: inline-block;
        margin-right: 50px;
      }
      span {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 2px 2px;
        font-weight: bold;

        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: red;
        }
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .category_items {
      padding: 7px 10px;
      width: 100%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      list-style: none;
      img {
        width: 2.5rem;
        margin-right: 10px;
      }
      span {
        font-size: 0.8rem;
        font-weight: bolder;
      }
      &:hover {
        background-color: #fff;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .banner_section {
    display: flex;
    flex-direction: column;
    height: 40rem;
    background-color: #fffce5;
    overflow: hidden;

    .carousel-indicators {
      display: none;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 45%;
      right: -12px;
      z-index: 10;
      cursor: pointer;
      user-select: none;
      height: 3rem;
      width: 3rem;
      border-radius: 100%;
      background-color: #908c8c;
      color: #fff;
      padding: 15px 30px 0 0;
      opacity: 0.2;
      &:hover {
        opacity: 0.8;
      }
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 45%;
      left: -12px;
      z-index: 10;
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      border-radius: 100%;
      background-color: rgb(232, 232, 232);
      color: #fff;
      padding: 15px 0 0 30px;
      &:hover {
        opacity: 0.8;
      }
    }

    .banner_section_bottom {
      width: 100%;
      margin-top: 8rem;
      img {
        width: 7.9rem;
        margin-left: 8px;
        margin-right: 6px;
        cursor: pointer;

        &:hover {
          transition: all 0.2s ease-in-out;
          transform: scale(1, 1.1);
        }
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      height: 9rem;
    }
  }

  // For mobile Views

  @media screen and (max-width: 768px) {
    grid-template-columns: 2.65fr;
  }
}
